<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mi Proyecto Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Mi Proyecto Flask</h1>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a> |
            <a href="{{ url_for('formulario') }}">Formulario</a> |
            <a href="{{ url_for('leer_json') }}">Ver datos JSON </a> |
            <a href="{{ url_for('leer_csv') }}">Ver datos CSV </a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ current_year if current_year else '' }} Desaroollado por : Johnny Grefa</p>
    </footer>
</body>

</html>